.main-recipies {
  width: 360px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0px;
}

.recipies-container {
  width: 336.35px;
  /* border: red 2px solid; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin-bottom: 60px;
}