.recipes-progress-container {
  height: 640px;
  overflow: auto;
  position: fixed;
  width: 360px;
}

.ingredients-container {
  /* border: 1px solid lightgray; */
  border-radius: 3px;
  padding: 10px;
}

.instructions-container {
  /* border: 1px solid lightgray; */
  border-radius: 3px;
  padding: 10px;
  text-align: justify;
}

.recipe-img {
  background-position: center;
  background-size: cover;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.instructions {
  margin-left: 3%;
  margin-right: 3%;
}

.video {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-title {
  margin-left: 3%;
}

.finish-recipe-btn {
  background-color: #008d8e;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: larger;
  font-weight: 600;
  height: 40px;
  width: 100%;
}

.top-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
}

.header-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
}

.recipe-title {
  color: white;
  position: absolute;
  text-shadow: 2px 2px 2px black;
}

.recipe-category {
  margin-left: 10px;
}

.fav-btn {
  margin-left: 15px;
  margin-right: 10px;
}
