.card-container {
  width: 163.35px;
  height: 166.21px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  align-items: center;
  padding: 0%;
  margin-top: 5px;
}

.img-container {
  width: 100%;
  height: 134.85px;
  /* border: solid 1px red; */
  background-position: center;
  background-size: cover;
  /* box-sizing: border-box; */
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px; 
}

.name-container {
  /* background-color: red; */
  margin-top: 5px;
  width: 100%;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-name {
  color: black;
  text-decoration: wavy;
}

a {
  text-decoration: none;
}