.search-bar {
  align-items: center;
  background-color: #008d8e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 336.35px;
}

.input-search {
  border: 1px solid lightslategray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 25px;
  width: 98%;
}

.radio-inputs {
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn-search {
  background-color: #FB7C2B;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: larger;
  font-weight: 600;
  width: 70%;
}
